*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  /* Pink */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  /* Blue */
  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  /* Shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  /* Text */
  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  --title-lg: 3rem;
  --title-md: 2.5rem;
  --title-sm: 2rem;
  --title-xs: 1rem;

  --subtitle: 2rem/2.0;
  --body-lg: 1.25rem/1.4;
  --body-md: 1rem/1.4;
  --body-sm: 0.875rem/1.4;
  --body-xs: 0.75rem/1.4;

  --button: 0.875rem;
  --link: 0.875rem;
  --tag: 0.625rem;

  --font-family: 'Raleway', sans-serif;


}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background-color: var(--shape-background);
  overflow-x: hidden;
  color: var(--text-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}

@media (width >= 64em) {
  :root{
      --max-width: 80em;
}
}

@media (width <= 390px) {
  body {
      max-width: var(--max-width);
      margin-inline: auto;
  }
}

@media (750px <= width < 64em) {
  :root {
      --max-width: 1024px;
  }
}