header{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;

    & img:nth-child(1){
      width: 10rem;
    }
    
  }
}

@media (width >= 80rem){
  header{
    .container{

      & img[src*='logo-symbol']{
        display: none;
      }
    }
  }
}